	<label for="page_course_name">Module Title<span class="required more_help">*</span>
		<span class = 'more_help' onMouseover="fixedtooltip(MOD_TITLE_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
		</label>
		<%= text_field 'mod', 'module_title',"size" => 54  %>

		<label for="mod_module_title" > Private Label<span class="required">*</span>
        <span class = 'more_help' onMouseover="fixedtooltip(MOD_LABEL_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
		</label>
        <%= text_field 'mod', 'label',"size" => 54  %>