<div id="notice_wrapper">
<div id ='notice'>
	<%="#{@mod.label} added to your modules list."%> 
	<%= link_to 'Edit/View your copy?',{ :action => 'edit', :id => @mod_copy, :type => @mod_copy.class} %>
</div>
</div>