<div id="sidebar-right">
	<% unless @local.g_search.blank?%>
		<div class="item"><div class="item2"><div class="item3">
			<h2>Search Tutorials</h2> 
						 <%= @local.g_search%>
		</div></div></div>
	<%end%> 
	 
</div>