<%= render :partial => 'ort/top'%>

<div id="content">
	
	<div id="content-column1">
		<h2>Sign in Help</h2>
		<h3>Why Sign in?</h3>
		<p>This tutorial requires you to sign in so that you can take the graded quizzes. <b>Sign in with a username, an email address and your full name</b>. 
		<br /> You will also need to know
		the <b>section number</b> for the class your in. You can usually find that information on your course syllabus.  You will only be able to sign in for a single section, so please do not guess, else you may not receive a grade. </p>
		
		<h3>Having trouble signing in? </h3>
		<% if flash[:notice] -%>
          		 <div id="notice" ><%= flash[:notice] %></div>
   			<% end -%>
		<p>
			 Enter the email address you previously signed in with and we'll send you your login information.
		</p>
		<p>
			<% form_tag :action=>'forgot' do%>
       
            <label for="email">Email</label>
            <%= text_field "student","email", :size =>54 %>
            <br /><br />
            <%= submit_tag 'Send it' %>
       
       <% end %>
		</p>
		<p> Need more help? Email your Librarian. </p>
	<!-- end content-column1 -->
	</div>
	
<!-- end content -->
<div class="bot"><div></div></div></div>


<!-- end wrap, wrap-inner -->
</div></div>
