<span><label for="subject_code"><span class="required">*</span>Subject Code</label>
<%=text_field 'subject','subject_code', :size => 10%></span>
<span><label for="subject_name"><span class="required">*</span>Subject Name</label>
<%=text_field 'subject','subject_name'%></span>
  <br class="clearer" />          
