<!--Library a la Carte Tool (TM).-->
<!--Copyright (C) 2007 Oregon State University-->
<!--See license-notice.txt for full license notice-->

<fieldset>
<h3>Email List</h3>
    <p> <%=@emails%></p>
     <p><b><%= link_to 'Back to tools', :action => 'tools' %></b></p>
     </fieldset>
	 