/* colors, fonts */
body {padding: 0; margin: 0; line-height: 19px; font-family: verdana, arial, sans-serif; font-size: 13px; color: #555;}
a:link {color: #00f;}
a:visited {color: #909;}
a:hover {color: #c50;}
a img {border: 0;}
h2 {font-size: 1.5em;}

/* page layout */

/*boxes*/
#boxes {width: 355px; margin: 1em;}
#boxes .item, #boxes .item2 {background: #f3f3f3 no-repeat url(/images/template/rightBox.png);}
#boxes .bot, #boxes .bot div {background: #f3f3f3 100% 100% no-repeat url(/images/template/greyBox.png);}
#boxes .item2 {margin: 0 0 0 10px; padding: 10px 0 0; background-position: 100% 0;}
#boxes h2 {margin: 0 0 0 -10px; padding: 0 15px 5px 15px; background: #fff; border: solid #d1d1d1; border-width: 0 1px; line-height: 25px; text-indent: 0;}
#boxes .module {margin: 0 0 0 -10px; padding: 10px 15px 1px; background: #f3f3f3;  border: solid #d1d1d1; border-width: 0 1px;}
#boxes .module h2 {margin: 5px 0; padding: 0;}
#boxes .bot {margin: 0 0 20px -10px; padding-right: 10px;}
#boxes .bot div {height: 9px; background-position: 0 100%;}
#boxes img {max-width: 320px; width: expression(this.width > 320 ? 320: true);}
