					

<div id="boxes">
	<div class="item">
		<div class ="item2">
	<div class="module">
			<%if @vid %><p>
					       <%= render :partial => "video/player" %>
					    </p>
			<% else %>
						<p> No Video Found. </p>
			<% end %>	 
	</div>
		    <div class="bot"><div></div></div>
		</div>
	</div>
</div>

					
