<label> Answer</label><%= text_area :answer, :value, {:class => 'mceNoEditor', :size => '60x5'} %>
<label> Feedback</label><%= text_area :answer, :feedback, {:class => 'mceNoEditor', :size => '60x5'} %><br />
<%= check_box :answer, :correct,{},1, 0 %> Is this the Correct Answer? 
