	<h2><%=h @mod.module_title%></h2>
	<div class="module">
		    <%unless @mod.widget ==""%><%= @mod.widget%><%end%>
			<%unless @mod.information ==""%> <%= @mod.information%> <%end%>
	<noscript>
		You must have javascript enabled to view this content
	</noscript>
	</div>