		<div class="bot"><div>   
		Last Update: <%=@updated%> <%if @page.tag_list.length > 0 %> | Tagged with: <% @page.tag_list.each do |tag|%> <%= link_to tag, { :action => :tagged, :id => tag }%><%end%> <%end%>
		</div></div>
			
