
<fieldset>
        <h3 class = "form">Forgot My Password</h3> 
        Please enter your account email address then click on the EMAIL PASSWORD button. <br /> You will receive a new password shortly.
        Use this new password to access the tool. 
        <% form_tag :action=>'forgot_password' do%>
       
            <label for="email">Email</label>
            <%= text_field "user","email", :size =>54 %>
            <br /><br />
            <%= submit_tag 'Email Password' %>
       
       <% end %>
      
       <p><%= link_to "Cancel" , :action => 'login' %></p><br />
</fieldset>