
<ul class='no_intent'>
	<li class = "item">
		<%= link_to 'Edit Contact Module', :action => 'edit_profile' %>
	</li>
	<li class = "item">
		<%= link_to 'Edit Related Guides', :action => 'edit_profile' %>
	</li>
	
</ul>