
<div id="main">
	<h1>Search Results</h1>
	<div id="main-inner"><div id="content">	
	<a id="skip" name="skip"></a>	
			<div class="item">
				<h2>Browse by Search Results</h2>
				<div class="module">
					 <%unless @local.g_results.blank?%>
 						<%=@local.g_results%>
 					<%end%>
					<p><%=image_tag("/images/icons/back.png", :title => '', :alt => 'back', :border => 0)%> Back To: <a href ="/subject-guides/">Subject Guides</a> | 
					<a href ="/course-guides/">Course Guides</a> | <a href ="/tutorials/"> Tutorials</a></p>
				</div>
		<div class="bot"><div></div></div>
	</div>
</div></div> <!-- end content, end main-inner -->
</div> <!-- end main -->

<div id="sidebar-right">
	<%= render :partial => '/shared/right_side'%>
</div> <!-- end sidebar-right -->

<div id="sidebar-left"><div id="sidebar-left-inner">
	<%= render :partial => '/shared/left_side'%>
</div></div> <!-- end sidebar-left-inner, end sidebar-left -->
