<div id="msg_flash">
<% flash.each do |key, msg| %> 
	<div id="<%= key %>">   
		<p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>   
        <p><%= msg %></p>   
        <div class="clear"></div>   
    </div>   
<% end 
flash.clear%> 
</div> 
