<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="keywords" content="Library a`la Carte" />
<meta name="description" content="Library a`la Carte. Web-based content management system (CMS) for and by Libraries. This tool enables librarians to easily create and maintain course pages, subject guides and other library information Web pages made to order. " />
<title>Library &agrave; la Carte </title>
<%= stylesheet_link_tag "tool", :media => "all" %>
</head>
<body>
<div id="wrapper"> <!--  start wrapper -->
 
  <div id="header">
   <%=image_tag("/images/Logo.jpg", :title => 'Library Information made to order', :alt => 'logo')%>
  </div>

  <div id="front_content">
   <% if flash[:notice] -%>
      <div id="notice" ><%= flash[:notice] %></div>
   <% end -%>
   <%= yield :layout %>
  </div>

 <div id="footer"> 
 <a href="http://alacarte.library.oregonstate.edu/support">Help/FAQ</a> | <a href ="http://alacarte.library.oregonstate.edu/contact">Questions</a> | <a href="http://alacarte.library.oregonstate.edu/demo">Request an Account</a>
 </div> 
</div> <!--  end wrapper -->
</body>
</html>
