<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no, height=device-height" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" href="" /> 
<meta name="format-detection" content="telephone=no" />
<%=stylesheet_link_tag 'mobile.css'%>
<link rel='stylesheet' type='text/css' href='/stylesheets/modules.css' />
<%if js_enabled_mobile_device?%>
<script type="text/javascript" src="/javascripts/template.js"></script>
<script src="/javascripts/prototype.js" type="text/javascript"></script>
<script src="/javascripts/scriptaculous.js" type="text/javascript"></script>
<%end%> 
<title><%=@mod.module_title%></title>
</head>
<body >	
<%= yield :layout %>
</body>
</html>